@import "master";


.project-list-entity {
  padding: 20px 10px;
  border-radius: 15px;
  border: 1px solid #dbdbdb;
  background-color: rgba(255, 255, 255, 0.1);
  // color: white;
  margin: 10px 0;
  box-shadow: 2px 2px 5px rgba(150, 150, 150, 0.6);
  @include transition(0.25s);
  &:hover {
  background-color: rgba(170, 170, 170, 0.2);

  }

  
  .section-top {
    border-bottom: 1px solid rgba(150,150,150, 0.3);
    .headline {
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
  .section-bottom {
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        
      }
    }
  }
}



.project-canvas{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 0;
  margin-bottom: auto;
  
  & > div:last-child {
    padding-left: 10px;
  }
  // overflow: hidden;
}

.project-sidemenu {
  display: block;
  width: 150px;
  
  flex: 0 0;
  background-color: rgba(30, 30, 30, 0.6);
  @include transition(0.2s);

  & > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  label {
    display: none;
    color: transparent;
    @include transition(0.2s);
  }

  &.expanded {
    label {
      color: #fff;
      display: block;
    }
  }




  img {
    margin: 12.5px;
    width: 25px;
    height: auto;

    &.selected {
      background-color: $dark;
    }
  }
}

.project-canvas-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: hidden;
}
.project-canvas-info {
  width: 400px;
}

.workstate-container {
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  gap: 1rem;

  // @media (min-width: 768px) {
  //   &::-webkit-scrollbar {
  //     display: none;
  //   }
  // }

  .workstate-column {
    scroll-snap-align: end;
    padding-right: 0.75rem;

    .workstate-head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 250px;
      border-bottom: 1px solid rgba(170, 170, 170, 0.8);


      & > div {
        display: flex;
        flex-direction: row;
      }

      .workstate-headline {
        font-size: large;
        max-width: 165px;

        .workstate-headline-text {
          text-transform: capitalize;
          margin: 0;
          padding: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .task-counter {
          padding: 0 5px;
          margin-left: 5px;
          margin-right: 5px;
          background-color: rgba(200, 200, 200, 0.1);
          border-radius: 1rem;
        }
      }


      .workstate-controls {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        & > * {
          margin-left: 10px;
        }
        img {
          height: 20px;
        }
        .x-delete {
          @include transition(0.25s);
          &:hover {
            transform: rotate(45deg);
          }
        }
      }

    }

    .workstate-body {
      height: 70vh;
      overflow-y: auto;
      scroll-snap-type: x mandatory;
      scroll-snap-align: center;

      .workstate-task {
        position: relative;
        background-color: rgba(255, 255, 255, 0.1);
        margin: 0.5rem 0;
        border-radius: 6px;
        border: 1px solid rgb(126, 126, 126);
        scroll-snap-type: end;
        @include transition(0.25s);
        &:hover {
          background-color: rgba(150, 150, 150, 0.1);
          cursor: pointer;

          .task-selection {
            display: block;
          }
        }

        & > div:first-of-type {
          width: 100%;
          height: 100%;
          padding: 0.5rem;
        }

        .task-card-title {
          width: 90%;
        }

        .task-card-area {
          display: flex;
          flex: 1;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;

          .task-card-labels {
            display: flex;
            flex-direction: row;

            .task-card-labels-content {
              display: flex;
              align-items: center;
              font-size: small;
              padding: 0 6px;
              margin-right: 6px;
              border-radius: 10px;
              background-color: rgba(150, 150, 150, 0.2);
              
            }
          }
          

          .task-responsible-icons {
            display: flex;
            flex-direction: row-reverse;

             & > div {
              border-radius: 50%;
              display: inline-block;
              height: 100%;
              padding: 0% 100% 0% 100%;
              background-color: rgba(150, 150, 150, 0.4);
              span {
                text-transform: capitalize;
              }
             }
          }
        }

        .task-selection {
          display: none;
          position: absolute;
          border: none;
          outline: none;
          top: 0px;
          right: 0px;
          width: 24px;
          background-color: rgba(150,150,150, 0.2);
          text-align: center;
          border-radius: 0 5px 0 5px;
        }
      }
    }
  }
}