@import "master";
@import "functions";

#root {
  & > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
  }
  & > div > :nth-child(2) {
    flex: 1;
  }
}
h1 {
  &:first-letter {
    text-transform: uppercase;
  }
}
h2 {
  &:first-letter {
    text-transform: uppercase;
  }
}
h3 {
  &:first-letter {
    text-transform: uppercase;
  }
}
h4 {
  &:first-letter {
    text-transform: uppercase;
  }
}

@media (min-width: 992px) {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
    border-radius: 10px;
  }
}


a {
  &.linkref {
    color: unset;
    text-decoration: none;
    &:hover {
      color: unset;
    }
  }
  &.linkref-invert {
    color: $fontcolor-invert;
    text-decoration: none;
    &:hover {
      color: unset;
    }
  }
}

header {
  background-color: $primary;
  padding-top: 5px;
  padding-bottom: 5px;

  img {
    height: 50px;
    margin-left: 1vw
  }
}

.modal-form {
  & > div {
    display: flex;
    flex-direction: column;
  }

  .modal-name {
    border: none;
    width: 100%;
    font-size: x-large;

    &:focus {
      outline: none;
    }
  }

  .side-by-side-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    
    @media (min-width: 992px) {
      flex-direction: row;
      gap: 2rem;
    }
    
    label {
      font-size: small;
    }

    & > div {
      flex: 1 1 50%;

      
      textarea.modal-name {
        border: none;
        min-height: 1rem;
        resize: none;
        font-size: x-large;

        &:focus {
          outline: none;
        }
      }
      & > div{
        display: flex;
        flex-direction: column;
        margin: 1rem 0;

        &:first-child {
          margin: 0.5rem 0 1rem 0;
        }
      }
    }
    
    & > .side-big {
      flex: 1 1 67%;
    }

    & > .side-small {
      flex: 1 1 33%;
    }
  }

  .CodeMirror:not(.CodeMirror-fullscreen) {
    .CodeMirror-scroll {
      height: 300px;
      overflow-y: auto;
      }
  }  
  input {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px 9px;
  }
  input:focus {
    border: 1px solid #007bff;
    outline: 1px solid #007bff;
  }
  select {
    option {
      text-transform: capitalize;
    }
  }
}


.image-btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  line-height: 0;

  &:focus-visible {
    outline: 0;
  }
}

// Admin area


footer {
  background-color: $primary;
  color: white;
  margin-bottom: 0px;
  margin-top: auto;

  p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}



