@import "master";
@import "functions";

#root {
  min-height: 100vh;
  & > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  & > div > :nth-child(2) {
    flex: 1;
  }
}
h1 {
  &:first-letter {
    text-transform: uppercase;
  }
}
h2 {
  &:first-letter {
    text-transform: uppercase;
  }
}
h3 {
  &:first-letter {
    text-transform: uppercase;
  }
}
h4 {
  &:first-letter {
    text-transform: uppercase;
  }
}

a {
  &.linkref {
    color: unset;
    text-decoration: none;
    &:hover {
      color: unset;
    }
  }
  &.linkref-invert {
    color: $fontcolor-invert;
    text-decoration: none;
    &:hover {
      color: unset;
    }
  }
}

header {
  background-color: $primary;
  padding-top: 5px;
  padding-bottom: 5px;

  img {
    height: 50px;
    margin-left: 1vw
  }
}

form {
  & > div {
    display: flex;
    flex-direction: column;
  }

  .side-by-side-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    @media (min-width: 992px) {
      flex-direction: row;
      gap: 2rem;
    }

    & > div {
      flex: 1 1 50%;

      & > div{
        display: flex;
        flex-direction: column;
        margin: 1rem 0;

        &:first-child {
          margin: 0 0 1rem 0;
        }
      }
    }
  }

  .CodeMirror:not(.CodeMirror-fullscreen) {
    .CodeMirror-scroll {
      height: 300px;
      overflow-y: auto;
      }
  }  
  input {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px 9px;
  }
  input:focus {
    border: 1px solid #007bff;
    outline: 1px solid #007bff;
  }
  select {
    option {
      text-transform: capitalize;
    }
  }
}


.popout-dark-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 0;
  
  .popout-panel {
    position: fixed;
    background-color: $light;
    min-width: 300px;
    min-height: 100px;
    padding: 5px;
    box-shadow: 0px 0px 10px #222222;
    z-index: 1;

    &.left {
      top: 0;
      bottom: 0;
      left: 0;
    }

    &.right {
      top: 0;
      bottom: 0;
      right: 0;
    }

    .form-vertical {
      & > * {
        display: block; 
      }
      input {
        width: 100%;
      }
    }
  }
}

.side-panel-overview {
  min-width: 150px;
  min-height: 95vh;
  border-right: 1px solid rgba(100, 100, 100, 0.5);
  background-color: #dbdbdb;
  bottom: 0;
  padding: 0.5rem;
    li {
      list-style: none;
    }
}

footer {
  background-color: $primary;
  color: white;
  margin-bottom: 0px;
  margin-top: auto;

  p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}




/* ------ Project list ------- */

